<h1>配送先登録/一覧</h1>
  <%= form_with model: @delivery_address do |f| %>
    <p>郵便番号(ハイフンなし)</p>
      <%= f.text_field :postal_code %>
    <p>住所</p>
      <%= f.text_area :address %>
    <p>宛名</p>
      <%= f.text_field :name %>

    <%= f.submit '新規投稿' %>
  <% end %>
